

@media screen and (max-width:768px){/*CELULAR*/
    #login{
        transition: .3s, .3s;
    }
    
}

@media screen and (min-width:768px) and (max-width:992px) {/*TABLET*/

    main{
        background-image: linear-gradient(to top, #9f34e6, #49a09d);
    }    

    #login{   
        width: 70vw;
        transition: .3s, .3s;
    }

    #imagem{
        float:left;
        width:30%;
        height: 100%;
        transition: .3s, .3s;
        
    }
    #formulario{
        margin-top: 14vh;
        padding:10px;
        float: right;
        width: 70%;
        height: 100%;
        transition: .1s, .1s;
        transition-timing-function: ease;
    }

    .campo{
        width: 100%;
    }
    #isenha,#iemail{
        width: calc(100% -40px);
    }

    #formulario h1{
        font-size: 2em;
    }
    
    #ibtn{
        padding: 5px;
    }
}

@media screen and (min-width:992px){/*DESKTOP*/

    main{
        background-image: linear-gradient(to top, #9f34e6,#49a09d );
    }

    #login{
        width:70vw;
        transition: width .2s, height .2s;
        transition-timing-function: ease;
        max-width: 1200px;
    }
    #imagem{
        float:right;
        height: 100%;
        width: 40%;

    }
    #formulario{
        float: left;
        padding: 40px;
        height: 100%;
        width: 60%;

    }
    #formulario h1{
        font-size: 2.1em;
    }
    #ibtn{
        margin-top: 10px;    
        padding: 5px;
    }  


}

