@charset "UTF-8";

body{
    background-color: rgb(77, 77, 77);
}

main{
    background-color: white;
    border-radius: 5px;
    min-width: 320px;
    max-width: 800px;
    padding: 1%;
    margin: auto;
}
#imga{
    width: 100%;

}