*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root{
    --cinza:rgba(0, 0, 0, 0.798);
}
body{
   
}

header{
    min-height: 130px;
    background-color: rgb(0, 134, 255);
}


header h2{
    padding-top: 20px;
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif; 
    text-align: center;
    color: white;
}

header>h1{
    font-family: 'Roboto', sans-serif;  
    font-size: 2.7em;
    padding-top: 27px;
    text-align: left;
    padding-left: 40%;
    color: white;
}

nav{
    font-family: 'Roboto', sans-serif;  
    margin: auto;
    height: 40px;
    background-color: rgb(0, 134, 255);
    /*margin-bottom: 20px;*/
    background-color:  rgb(0, 134, 255) ;
    box-shadow: 0px 2px 2px #00000040;
}

.principal{
    min-width: 320px;
    max-width: 1000px;
    margin: auto;
    /*background-color: rgba(0, 0, 0, 0.095);*/
}
#produtos{
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 90px;   
}

.principal h2{
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    color: var(--cinza);
    
}

.produto h3{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: var(--cinza);
}
.produto p{
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    color: var(--cinza);
}

.produto{
    cursor: pointer;
    /*border: 1px solid black;*/
    width: 200px;
    padding: 10px;

}
.produto img:hover{
    opacity: 50%;
}

.produto img{
    border-radius: 8px 0px;
}
.primeira-imagem{
    box-shadow:inset 1px 4px 9px #00000040;
    background-image: url(imagens/96700b_d82245089af343f8925694fefc84593a~mv2.webp);
    background-size: cover;
    height: 400px;

    margin-bottom: 50px;
}

.principal h1{ 
    
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: var(--cinza);
    margin-bottom: 20px;  
}

.serviços h1{  
    font-weight: bold;
    margin-top: 90px;
    padding-bottom: 50px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: var(--cinza);
    margin-bottom: 20px;  
    text-align: center;

}

.serviços{  
    background-color: rgb(239,251,255);    
    font-family: 'Roboto', sans-serif;
    color: var(--cinza);
    margin-bottom: 90px; 
    padding: 20px;
    box-shadow: inset 0px 3px 6px #00000029;
    
}

#serviço{
    min-height: 400px;
    margin-top: 40px;
    /*border:1px solid black;*/
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#serviço:last-child{
    border-bottom: 1.5px solid rgb(239,251,255);  
}

#serviço h2{
    padding: 0px;
    margin-left: 0px;
}

#comentario{
    padding: 20px;
    width: 400px;
}

#imgserviço1,#imgserviço2,#imgserviço3{
    padding: 20px;
    width: 470px;
    height: 300px;
}


#imagens{
    margin-top: 50px;

    margin-bottom: 50px;
    background-image: url(imagens/96700b_d82245089af343f8925694fefc84593a~mv2.webp);
    background-attachment: fixed;
    
    background-position: right center;
    background-size: cover;

}


#info{
    margin: 30px 0;
    font-family: 'Noto Sans', sans-serif;
    
}
#info h2{
    font-size: 2em;
    padding-bottom: 20px;
    text-align: center;
}

#endereço p{
    text-indent: 0%;
}
#endereço h1{
    font-size: 2em;
}


p{
    font-size: 1.1em;
    text-indent: 2%;
    line-height: 1.3em;
}
#endereço{
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.3em;
    text-align: start;
}
#endereço h2{
    margin: 20px;
    text-align: initial;
}

#mapa{
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
}

#mapa>iframe{
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    position: absolute;
    
}


footer{
    padding-top: 30px;
    height: 50px;
    color: aliceblue;
    background-color:  rgb(36, 36, 36);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}