*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
:root{
    --cinza:rgba(0, 0, 0, 0.798);
}
body{
   
}
#preheader{ 
    padding: 7px;
    font-size: .7em;
    font-family: 'Roboto', sans-serif; 
    text-align: center;
    height: 20px;
    color: white;
    background-color: rgb(0, 115, 215);

}

header{
    height: 130px;
    background-color: rgb(0, 134, 255);
}


header h2{
    padding-top: 20px;
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif; 
    text-align: center;
    color: white;
}

header>h1{
    font-family: 'Roboto', sans-serif;  
    font-size: 2.7em;
    padding-top: 27px;
    text-align: left;
    padding-left: 40%;
    color: white;
}

nav{
    font-family: 'Roboto', sans-serif;  
    margin: auto;
    height: 40px;
    background-color: rgb(0, 134, 255);
    margin-bottom: 20px;
    background-color:  rgb(0, 134, 255) ;
    box-shadow: 0px 2px 2px #00000040;
}
#menu li{
    display: inline;
    padding: 10px;
}

#menu li a{
    padding-top: 9px;
    color: rgb(255, 255, 255);;
    display: inline-block;
    text-decoration: none;
}

#menu a:hover{
    color:rgb(255, 88, 88) ;    
}

#menu ul li :last-child a{
    float: right;
}

#pesquisa{
    float: right;
    padding-right: 20px;
    justify-content: end;
    border: 1px solid rgba(0, 0, 0, 0.316);
    padding: 1px;
    border-radius: 9px;
    height: 25px;
    width: 300px;
    padding-right: 22px;    
}
main{
    min-width: 320px;
    max-width: 1000px;
    margin: auto;
    /*background-color: rgba(0, 0, 0, 0.095);*/
}
#produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 90px;   
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.269);; 
}

main h2{
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    color: var(--cinza);
    
}

.produto h3{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: var(--cinza);
}
.produto p{
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    color: var(--cinza);
}

.produto{
    cursor: pointer;
    /*border: 1px solid black;*/
    width: 200px;
    padding: 10px;

}
.produto:hover{
    opacity: 50%;
}

main h1{ 
    
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: var(--cinza);
    margin-bottom: 20px;  
}

#serviços ul{
    
    margin-bottom: 20px; 
}

#serviços p{  
   
    margin-bottom: 20px; 
}

#serviços{ font-family: 'Roboto', sans-serif;
    color: var(--cinza);
    margin-bottom: 90px; 
}


#imagens{
    margin-top: 50px;

    margin-bottom: 50px;
    min-height: 400px;
    background-image: url(imagens/96700b_d82245089af343f8925694fefc84593a~mv2.webp);
    background-attachment: fixed;
    
    background-position: right center;
    background-size: cover;

}


#info{
    margin: 30px 0;
    font-family: 'Noto Sans', sans-serif;

}
#info h2{
    font-size: 2em;
    padding-bottom: 20px;
    text-align: center;
}
p{
    font-size: 1.1em;
    text-indent: 2%;
    line-height: 1.3em;
}
#endereço{
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.3em;
    text-align: start;
}
#endereço h2{
    margin: 20px;
    text-align: initial;
}

#mapa{
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
}

#mapa>iframe{
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    position: absolute;
    
}


footer{
    padding-top: 30px;
    height: 50px;
    color: aliceblue;
    background-color:  rgb(36, 36, 36);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

