*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(imagens/fundo-madeira.jpg );
    
}

.phone{
    padding: 30px;

}
.meio{
    margin: auto;
    min-width: 320px;
    max-width: 800px;
}