*{
    padding: 0px;
    margin: 0px;
}
html,body{
    height: 100vh; 
    width: 100vw; 
    
    background: url('imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;  
    background-attachment: fixed;

}
main{
    position:relative;
    height: 100vh;
}

.flex{
    display: flex;
    justify-content: flex-end
}
#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 311px;
    height: 627px;
    background-image: url(imagens/frame-iphone.png);
    background-repeat: no-repeat;
}

.redes img{
    border-radius: 50%;
    display: block;
    height: 50px;
    margin: 10px 20px 20px 10px;
    box-sizing: border-box;
}
.meio{
    margin: auto;
    min-width: 320px;
    max-width: 800px;
}
.redes img:hover{
    border: 2px solid white;
    transform: translate(-3px, -3px);
    transition: transform .1.5s;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 270px;
    height: 471px;
}