@import url('https://fonts.googleapis.com/css2?family=Robotox:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cinza:rgba(0, 0, 0, 0.798);
    --azul:rgb(0, 134, 255);
    --fonte2:'Roboto', sans-serif;
    --fonte:'Robotox', sans-serif;  
}
.fundo{
    box-shadow: inset 1px 5px 14px #0000003d;
    margin: 0px; 
    background-color: rgba(249, 249, 249);
}

body{
    font-family: var(--fonte);
    color: var(--cinza);

}
header{
    min-height: 100px;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
header img{
    margin-left: 25%;
}

header h2{
    padding-top: 20px;
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif; 
    text-align: center;
    color: white;
}

header>h1{
    font-family: 'Roboto', sans-serif;  
    font-size: 2.7em;
    padding-top: 27px;
    text-align: center;
    
    color: white;
}
nav{
    width: 100%;
    font-family: var(--fonte2);
    font-weight: bold;
    height: 47px;
    background-color: rgb(0, 134, 255);
    box-shadow: 0px 2px 4px #00000040;
    /*margin-bottom: 20px;*/
}
nav li{
    display: inline-block;
}
nav li a{
    font-size: 1.3em;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    
}
nav ul{
    text-align: center;
    height: 100%;
    margin-left: 40px;
}

nav li a:hover{
    
    background-color: rgba(255, 255, 255, 0.418);
}

.dropdown-menu{
    background-color: var(--azul);
    position: absolute;
    box-shadow: 1px 0px 2px var(--azul);
    display: none;
}

.dropdown-menu a{
    display: block;
}

.dropdown:hover .dropdown-menu{
    transition: 0.5px;
    display: block;
}
.principal{
    margin: auto;
    min-width: 320px;
    max-width: 900px;
    margin-top: 50px;
}
.principal h1{
    padding: 20px;
    font-size: 2em;
}

.introduçao{
    padding-bottom: 50px;
    display: flex;
}
.comentario{
    padding: 20px;
}

.introduçao p{
    padding: 10px;
    padding-top: 10px;
    color: var(--cinza);
    font-size: 1em;
    text-indent: 1%;
    line-height: 1.4em;
    
}
#mascote{
    width: 230px;
    height: 290px;
}
footer{
    padding-top: 40px;
    padding-bottom: 10px;
    height: 65px;
    color: rgba(252, 254, 255, 0.735);
    background-color:  rgb(36, 36, 36);
    font-family: 'Roboto', sans-serif;    
}

footer p{
    padding: 10px;
    text-align: center;
    font-size: 1em;
}

.meio{
    padding-top: 30px;
    margin-top: 50px;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
}

.meio h1{
        padding: 20px;
        font-size: 2em;
}

.conversao h1{
    color: var(--azul);
}

thead>tr>th{
    font-weight: bold;
}


.conversao p{
    padding: 20px;
    text-indent: 5px;
}
.conversao{
    padding-bottom: 50px;

}
.conversao h2{
    padding: 20px;

}

table{
    width: 400px;
    border-collapse: collapse;
}
td,th{
    padding: 20px;
    text-align: center;
}
th{
    font-size: 1.4em;
}

.area{
    margin-left: 20px;
    width: 400px;
    height: 20px;
    border: none;
    border-bottom: 1px solid black;    
    background-color: rgba(249, 249, 249);
}

.text-input{
width: 20vw;
background-color: rgba(249, 249, 249);
height: 20px;
border: none;
border-bottom: 1px solid black;
}